﻿@{
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRPO_Lab5.Web</title>
    <link rel="stylesheet" href="~/css/calc.css" />
</head>
<body>
    <main>
        <h1 class="main__header">Расчёт площади треугольника по формуле Герона</h1>
        <img class="main_TreyG" src="~/img/645b757413410d67ef227a65a8dd118a.jpg" alt="TreyG" />
        <form class="main__form" action="" method="post">
            <div>
                <span class="form__unvalid">Необходимо вводить только положительные значения</span>
                <input class="form__input" type="number" name="a" placeholder="Сторона треугольника а" />
                <input class="form__input" type="number" name="b" placeholder="Сторона треугольника b" />
                <input class="form__input" type="number" name="с" placeholder="Сторона треугольника c" />
                <input class="form__input" type="number" name="s" placeholder="Полупериметр s" />
                <button class="form__btn" asp-area="" asp-controller="Formules" asp-action="TreyGSq">Рассчитать</button>
                <p class="form__result">Результат: @ViewBag.Result</p>
            </div>
        </form>
    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
